* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2019/12/08/09/20/hair-4680689_640.png);
}

button {
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  color: white;
  background-color: transparent;
}
